@use './partials/variables' as *;

.row{
    border-bottom: 1px solid rgb(54, 54, 54);
    .logo-frame{
        width: 120px;
        img{
            width: 100%;
        }
    }
    form{
        div{
            margin-right: 20px;
        }
        button{
            background-color: red;
            border-color: rgb(185, 54, 54);
        }
    }
}