@use "partials/variables.scss" as *;
@use "partials/mixins.scss" as *;

// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


h1 {
    text-align: center;
    color: lightcoral;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}