@use './partials/variables' as *;

button{
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: 1px solid gray;
}
.menu-genre{
    margin: 0;
    list-style: none;
    width: 200px;
    height: 400px;
    padding: 0;
    overflow: auto;
    position: absolute;
    top: 100%;
    z-index: 2;
    //display: none;
    border: 1px solid gray
    
    
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #616161;
}

::-webkit-scrollbar-track {
    background-color: #313131;
}